PORT=
NODE_ENV=

APP_URL=
FRONTEND_URL=

DATABASE_URL=
DIRECT_URL=

SUPABASE_URL=
SUPABASE_SERVICE_KEY=

JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRES_IN=1h
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=7d
JWT_QR_SECRET=

REDIS_URL=

INTERAKT_API_KEY=
SENTRY_DSN=
